.box-js{
    width: 100px;
    height: 100px;
    margin-top: 5px;
    text-align: center;
}

.cont{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
}

body{
    background-color: black;
}


.red{
    background-color: red;
}

.blue{ 
    background-color: blue;
}

.lightgreen{
    background-color: lightgreen;
}

.yellow{
    background-color: yellow;
}