.box-js{
    width: 150px;
    height: 50px;
    background-color: aqua;
}

.cont{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}


.red{
    background-color: red;
}

.blue{ 
    background-color: blue;
}

.lightgreen{
    background-color: lightgreen;
}

.yellow{
    background-color: yellow;
}